<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lixo Zero - Caxias do Sul</title>

  <style>
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      color: #121212;
      background-color: #f4f4f4;
    }

    table {
      max-width: 600px;
      margin: 0 auto;
      background-color: #fff;
      border-spacing: 0;
      border-collapse: collapse;
    }

    td {
      padding: 24px;
    }

    h1 {
      font-size: 24px;
    }

    h2 {
      font-size: 18px;
    }

    p,
    span {
      line-height: 1.5;
    }

    hr {
      border: none;
      border-top: 1px solid #ddd;
      margin: 40px 0;
    }

    .tags {
      color: #5f91b1;
      font-weight: bold;
      font-size: 18px;
    }

    .footer,
    .header {
      color: #fff;
      text-align: center;
    }

    .header {
      background-color: #5f91b1;
    }

    .footer {
      background-color: #5f91b1;
    }
  </style>
</head>

<body>
  <table>
    <!-- Cabeçalho do email -->
    <thead class="header">
      <tr>
        <td>
          <h1>Olá, <span style="font-weight: bold;">
              <%= nome_usuario %>
            </span>!!!</h1>
        </td>
      </tr>
    </thead>

    <!-- Conteúdo principal -->
    <tbody>
      <tr>
        <td>
          <p style="text-align: center; font-size: 24px;">
            <span style="background-color: #fffb11; ">
              Gostariamos de informar que sua ação foi reprovada! Que pena :(
            </span>
          </p>

          <p>
            Entre em contato para saber o motivo.
          </p>

          <hr>

          <p>Um abraço,<br>Equipe Coletivo Lixo Zero Caxias do Sul</p>

          <div>
            <span>Instagram: <a target="_blank"
                href="https://www.instagram.com/caxiaslixozero">@caxiaslixozero</a></span>
            <br>
            <span>Site: <a target="_blank" href="https://www.caxiaslixozero.com.br">www.caxiaslixozero.com.br</a></span>
          </div>
        </td>
      </tr>
    </tbody>

    <!-- Rodapé -->
    <tfoot>
      <tr>
        <td class="footer">
          <p class="text-footer">Se você tiver alguma dúvida, não hesite
            <a target="_blank" href="mailto:caxiaslixozero@gmail.com">entrar em contato</a>!
          </p>

          <p class="text-footer">&copy; 2024 Lixo Zero - Caxias do Sul. Todos os direitos reservados.</p>
        </td>
      </tr>
    </tfoot>
  </table>
</body>

</html>
